@charset "utf-8";
/* CSS Document */

.formTable { width:100%; border:0px solid #ccc; border-collapse:collapse; margin-bottom:12px; line-height:1.2em; font-family:Arial, Helvetica, sans-serif;}
.formTable caption { color:#6699CC; background-color:#FFFFFF; padding:4px; font-weight:bold;}
.formTable th {border-bottom:0px solid #ccc; border-right:0px solid #ccc; color:#000; font-weight:normal; padding:4px 4px 4px 4px; text-align:left; width:126px;}
.formTable td {border-bottom:0px solid #ccc; empty-cells:show; color:#000; padding:4px; text-align:left;}
.formTable .column { background-color:#eee;}
.formTable ul { padding:0px; margin-bottom:0px;}
.formTable .picTd { border-right:1px solid #BBBBBB;}
.formTable img { border:0px;}

.formBtn { margin:10px 0 20px; text-align:center;}
.formBtn img { border:0px; margin-right:4px;}

label { cursor:pointer; line-height:1.6em;}
radio  { line-height:1.2em;}
select { border:#b8b8b8 1px solid; padding:4px 2px; color:#333; font-size:12px; height:26px; }

.text { border:#b8b8b8 1px solid; padding:4px 2px; color:#024387; font-size:12px; height:14px;}
.form-textarea { border:#b8b8b8 1px solid; padding:4px; color:#333; font-size:12px; color:#333; line-height:1.6em;}
.required { background:url(images/iconMust.gif) no-repeat right top; padding:0 10px 0 0; cursor:pointer;}
.display { display:block;}
.formDirections { font-size:11px; display:block; margin:2px 0; background:url(images/iconFAQ2.gif) no-repeat left top; padding-left:0px; color:#fff;}

/* form Error */
.formError {background: url(images/icon_err.gif) no-repeat left center; color:#FF0000; padding-left:18px; margin-bottom:4px; line-height:16px;}
.formLabelMust {color:#FF0000; margin-left:4px;}

/* form width */
.width80 { width:60px;}
.width80 { width:80px;}
.width100 { width:100px;}
.width120 { width:120px;}
.width160 { width:160px;}
.width200 { width:200px;}
.width260 { width:260px;}
.width300 { width:300px;}

.label-required-next:after {
    top: 6px;
    right: 5px;
    color: red;
    content: '*';
    position: absolute;
    margin-left: 4px;
    font-weight: 700;
    line-height: 1.8em;
}
